@import url('Comfortaa-Bold.ttf');

* {
    font-family: Comfortaa;
    font-weight: bold;
}

body{
    background: url(background.png);
    background-repeat: space no-repeat;
}

h1 {
    color:rgb(255, 255, 255);
    font-size: 60px;
    text-shadow: 1px 1px 3px black;
    padding-left: 25%;
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-shadow: 1px 1px 3px black;
}

#closeWindow {
    margin-left: 100%;
    font-size: 14px;
    text-shadow: 1px 1px 3px black;
}

#swal2-validation-message {
    font-size: 14px;
    text-shadow: 1px 1px 3px rgb(131, 131, 131);
}